.antigen/
.antigenrc.zwc
.bash_history
.bash_logout
.cache/
.config/autostart/
.config/blender/
.config/btop/btop.log
.config/Code - OSS/*
.config/Code - OSS/User/*
!.config/Code - OSS/User/
!.config/Code - OSS/User/keybindings.json
!.config/Code - OSS/User/settings.json
.config/configstore/
.config/dconf/
.config/discord/
.config/GIMP/
.config/godot/
.config/google-chrome/
.config/gpicview/
.config/gtk-2.0/
.config/gtk-3.0/bookmarks
.config/Hero_Siege/
.config/inkscape/
.config/joplin-desktop/
.config/Joplin/
.config/mimeapps.list
.config/nitrogen/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/ristretto/
.config/Slack/
.config/StardewValley/
.config/Thunar/accels.scm
.config/transmission/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.dbus/
.dropbox-dist/
.dropbox/
.fehbg
.fltk/
.gitconfig
.gtkrc-2.0
.joplin/
.lesshst
.lmmsrc.xml
.local/share/applications/
.local/share/autojump/
.local/share/flatpak/
.local/share/fonts/.uuid
.local/share/godot/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/keyrings/
.local/share/mime/
.local/share/nvim/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/rhythmbox/
.local/share/Steam/
.local/share/Trash/
.local/share/vulkan/
.local/share/xorg/
.local/state/
.lyxauth
.mozilla/
.npm/
.nvm/
.oracle_jre_usage/
.pki/
.pulse-cookie
.rofi.pid
.ssh/
.steam/
.steampath
.steampid
.var/
.vim/
.viminfo
.vscode-oss/
.vscode/
.wakatime-internal.cfg
.wakatime.bdb
.wakatime.cfg
.wakatime.log
.wakatime/
.wget-hsts
.Xauthority
.yarn/
.zcompdump
.zsh_history
.zshrc.zwc
antigen.zsh
Desktop/
Documents/
Downloads/
Dropbox/
Music/
Pictures/
Public/
Templates/
Videos/
void-packages/